<div class="col-lg-10 col-md-10 col-sm-10 mx-auto mrg-top-30">
    <div class="width-100 border bottom mrg-btm-20 pdd-btm-10">
        <span class="font-size-16">댓글</span>
        <span th:text="${#lists.size(comments)}" class="font-size-16 text-info"></span>
    </div>
    <div class="comment">
        <ul tclass="list-unstyled list-info" id="comment-list">
        </ul>
        <input type="hidden" name="contents" id="commentContents"/>
        <div class="add-comment">
            <div id="editSection"></div>
            <button type="button" id="saveCommentBtn" class="float-right pointer btn btn-icon">
                <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
            </button>
        </div>
    </div>
</div>