<header class="header navbar bg-transparent no-border" id="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header-container">
        <ul class="nav-left mrg-left-0">
            <li>
                <a href="/">
                    <div class="logo logo-dark d-none"
                         style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                    <div class="logo logo-white"
                         style="background-image: url('/images/logo/logo_full_white.png')"></div>
                </a>
            </li>
        </ul>
        <th:block
                th:include="${session.author} != null ? '/common/dropdown_login' : '/common/dropdown_logout'"></th:block>
    </div>
</header>