<!DOCTYPE html>
<html lang="ko" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment">
    </th:block>
</head>
<body>
<div>
    <header th:replace="fragments/header :: headerFragment">
    </header>
    <th:block layout:fragment="content">
    </th:block>
</div>
<footer th:replace="fragments/footer :: footerFragment">
</footer>

<th:block th:replace="fragments/script :: scriptFragment">
</th:block>

</body>
</html>