<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <header class="header navbar bg-transparent no-border" id="header" th:fragment="header">
        <div class="header-container">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div class="logo logo-dark d-none" id="logo-dark"
                             style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white" id="logo-white"
                             style="background-image: url('/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <li th:replace="layout/auth :: ${ session.email != null ? 'logout' : 'login' }"></li>
            </ul>
        </div>
    </header>
</html>