<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread] [%logger{36}] - %m%n</Pattern>
        </layout>
    </appender>

    <appender name="roll-by-time" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>log/myblog.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/myblog.%d{yyyy-MM-dd}.log
            </fileNamePattern>
            <maxHistory>20</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</pattern>
        </encoder>
    </appender>

    <!-- 자바 패키지별 log level을 설정한다. -->
    <logger name="techcourse" level="DEBUG">
        <appender-ref ref="roll-by-time"/>
    </logger>

    <!-- 기본 log level을 설정한다. -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>