<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<div role="tabpanel" class="tab-pane fade in active" id="tab-centered-1">
    <div class="pdd-horizon-15 pdd-vertical-20">
        <a href="article.html" th:href="@{/articles/{articleId}(articleId=${article.id})}" class="card article-container">
            <div class="card-horizon">
                <div class="image-container col-md-4">
                    <div class="background-holder has-content"
                         th:style="'background-image: url('+ ((${article.coverUrl} != '')? ${article.coverUrl} : '/static/images/pages/index/study.jpg') + ');'">
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-8 ml-auto">
                            <div class="pdd-vertical-30 pdd-horizon-25">
                                <h2 class="mrg-btm-20 text-bold" th:text="${article.title}">목적의식 있는 연습을 통한 효과적인 학습</h2>
                                <p class="contents" th:text="${article.contents}">우아한테크코스의 선발 과정을 목적의식 있는 연습으로 설계한 내용과 목적의식 있는 연습으로 진행했을 때의 학습 효과에 대해 다루고 있습니다.</p>
                                <ul class="list-style-none pdd-left-0">
                                    <li class="inline-block mrg-right-5">
                                        <i class="ti-heart text-danger pdd-right-5"></i>
                                        <span class="text-gray font-size-14 relative">33</span>
                                    </li>
                                    <li class="inline-block">
                                        <i class="ti-comments text-primary pdd-right-5"></i>
                                        <span class="text-gray font-size-14 relative">3</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="tab-centered-2">
    <div class="pdd-horizon-15 pdd-vertical-20">

    </div>
</div>
<div role="tabpanel" class="tab-pane fade" id="tab-centered-3">
    <div class="pdd-horizon-15 pdd-vertical-20">
    </div>
</div>