<li class="comment-item border bottom mrg-btm-30">
    <img alt="" class="thumb-img img-circle"
         src="https://avatars3.githubusercontent.com/u/50367798?v=4">
    <div class="info">
        <span class="text-bold inline-block" href="">Jun</span>
        <span class="sub-title inline-block pull-right">
                                        <i class="ti-timer pdd-right-5"></i>
                                        <span>6 min ago</span>
                                    </span>
        <p class="width-80">껄껄</p>
    </div>
</li>