<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:include="/fragment/head"></th:block>
</head>
<body>
<div class="app">
    <div class="header navbar bg-transparent no-border">
        <div class="header-container pdd-right-15">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div class="logo logo-dark d-none"
                             style="background-image: url('../../static/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('../../static/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg"
                 style="background-image: url('../../static/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="mx-auto full-height col-md-4">
                                <div class="vertical-align full-height">
                                    <div class="table-cell padding-20">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h2 class="text-center no-mrg-vertical mrg-btm-15 text-dark">
                                                            로그인</h2>
                                                    </div>
                                                    <form action="/login" method="post">
                                                        <div class="form-group">
                                                            <input type="email" name="email" class="form-control" placeholder="Id">
                                                        </div>
                                                        <div class="form-group">
                                                            <input type="password" name="password" class="form-control"
                                                                   placeholder="Password">
                                                        </div>
                                                        <div class="checkbox font-size-13 text-dark inline-block no-mrg-vertical no-pdd-vertical">
                                                            <input id="agreement" name="agreement" type="checkbox">
                                                            <label for="agreement">로그인 유지</label>
                                                        </div>
                                                        <div class="pull-right mrg-left-10">
                                                            <a href="">Forgot Password?</a>
                                                        </div>
                                                        <div class="mrg-top-20 text-right">
                                                            <input type="submit" class="btn btn-tumblr" value="로그인">
                                                        </div>
                                                    </form>
                                                    <div class="text-dark">
                                                        <span>아직 회원이 아니신가요?</span>
                                                        <a href="/signup"
                                                           class="text-info pointer mrg-left-5">회원가입</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js"
        integrity="sha384-pjaaA8dDz/5BgdFUPX6M/9SUZv4d12SUPF0axWc+VRZkx5xU3daN+lYb49+Ax+Tl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>
<script src="../../static/js/index.js"></script>
</body>
</html>
