<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="articleConfigFragment">
        <th:block th:replace="fragments/config :: configFragment">
        </th:block>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
        <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css" rel="stylesheet">
        <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" rel="stylesheet">
    </th:block>
</head>
</html>