<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="configFragment">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"
              name="viewport">

        <meta content="index, follow" name="robots">

        <meta content="우아한테크코스, 프로그래밍, 개발자, 백엔드, 프론트엔드, Backend, Frontend, IOS, Android" name="keyword">
        <meta content="우아한테크코스 크루 ooo의 개발 블로그" id="metaDesc" name="description">
        <meta content="website" property="og:type">
        <meta content="우아한테크코스" property="og:title">
        <meta content="우아한테크코스 크루 ooo의 개발 블로그" id="metaOgDesc" property="og:description">
        <meta content="/images/logo/logo_thumnail_bg.jpg" property="og:image">
        <meta content="https://woowacourse.github.io/" property="og:url">

        <meta content="website" name="twitter:card">
        <meta content="우아한테크코스" name="twitter:title">
        <meta content="우아한테크코스 크루 ooo의 개발 블로그" id="metaTwitterDesc" name="twitter:description">
        <meta content="/images/logo/logo_thumnail_bg.jpg" name="twitter:image">
        <meta content="https://woowacourse.github.io/" name="twitter:domain">

        <link href="/images/logo/favicon.ico" rel="shortcut icon">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" rel="stylesheet">
        <link crossorigin="anonymous"
              href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              rel="stylesheet">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              rel="stylesheet">

        <link href="/css/app.css" rel="stylesheet">
        <link href="/css/customize.css" rel="stylesheet">
        <link href="/css/main.css" rel="stylesheet">

    </th:block>
</head>
</html>