<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<ul>
    <li class="user-profile dropdown no-border pointer" id="header-user-dropdown-btn" th:fragment="logged-in">
        <a class="user-info-link user-dropdown-menu dropdown-toggle" data-toggle="dropdown">
            <img alt="Brown" class="profile-img img-fluid"
                 src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4">
            <div class="user-info text-white">
                <span class="name pdd-right-5" th:text="${session.user.name}"></span>
            </div>
        </a>
        <ul class="dropdown-menu">
            <li class="text-dark">
                <a th:href="'/mypages/' + ${session.user.id}">
                    <i class="ti-user pdd-right-10"></i>
                    <span class="text-dark">마이 페이지</span>
                </a>
            </li>
            <li class="divider" role="separator"></li>
            <li class="text-dark">
                <a href="/users">
                    <i class="ti-user pdd-right-10"></i>
                    <span class="text-dark">유저 목록</span>
                </a>
            </li>
            <li class="divider" role="separator"></li>
            <li class="text-dark">
                <a href="/logout">
                    <i class="ti-power-off pdd-right-10"></i>
                    <span class="text-dark">로그아웃</span>
                </a>
            </li>
        </ul>
    </li>
</ul>
</body>