<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<div class="header navbar bg-transparent no-border" th:fragment="logoFragment">
    <div class="header-container pdd-right-15">
        <ul class="nav-left mrg-left-0">
            <li>
                <a href="/">
                    <div class="logo logo-dark d-none"
                         style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                    <div class="logo logo-white"
                         style="background-image: url('/images/logo/logo_full_white.png')"></div>
                </a>
            </li>
        </ul>
    </div>
</div>
</html>