<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="logoutHeaderFragment" id="header" class="header navbar bg-transparent no-border">
    <div class="header-container">
        <ul class="nav-left mrg-left-0">
            <li>
                <a href="/">
                    <div class="logo logo-dark d-none"
                         style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                    <div class="logo logo-white"
                         style="background-image: url('/images/logo/logo_full_white.png')"></div>
                </a>
            </li>
        </ul>
        <ul class="nav-right">
            <li class="user-profile">
                <a href="/login">
                    <div class="user-info login-btn pointer mrg-right-10">
                        <span class="name pdd-right-5 text-white">Login</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</header>
</html>
