.cover-title {
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tui-editor-contents p{
    font-size: 14px;
}


.profile-container {
    top: 200px;
    z-index: 10;
}

.about-cover .cover-img {
    min-height: 250px;
}

.sns-btn {
    padding: 8px 10px;
}

.width-80px {
    width: 80px;
}

.text-dimgray {
    color: dimgray;
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    width: 100%;
}

.edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 12px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    color: inherit;
    padding: 6px;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.editing {
    border-bottom: none;
    padding: 0;
}

.edit-form {
    width: 90% !important;
}

.editing .edit {
    display: inline-block;
    width: 75%;
    padding: 12px 16px;
    margin: 0 0 0 10px;
}

.editing .view {
    display: none;
}
.edit {
    display: none;
}

.comment-btn{

}
.form {
    display:inline;
}
.comment-btn > button{
    display:inline;
}