#comment-list li .edit {
    display: none;
}

#comment-list li.editing:last-child {
    margin-bottom: -1px;
}

#comment-list li.editing {
    border-bottom: none;
    padding: 0;
}

#comment-list li.editing .edit {
    display: block;
    width: calc(100% - 43px);
    padding: 12px 16px;
    margin: 0 0 0 43px;
}


#comment-list li.editing .view {
    display: none;
}