<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>우아한테크코스 기술블로그</title>
    <th:block th:include="common/meta"></th:block>
    <th:block th:include="common/css"></th:block>
    <link href="/css/index.css" rel="stylesheet">
</head>

<body>
<div>
    <th:block th:include="/common/navbar"></th:block>
    <th:block th:include="/common/main_cover"></th:block>
    <p th:value="${error}"></p>
</div>
<th:block th:include="common/footer"></th:block>
<th:block th:include="common/js"></th:block>
</body>

</html>