<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<th:block layout:fragment="content">
    <div>

        <div class="about-cover card no-border ">
            <div class="cover-img overlay-dark bg" th:style="'background:url('+${article.coverUrl}+')'">
                <div class="padding-30">
                    <h1 class="text-center cover-title" th:text="${article.title}"></h1>
                </div>
            </div>
        </div>

        <div class="container-fluid max-width-lg mx-auto mrg-vertical-30 padding-30">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <a th:href="'/articles/'+${article.id}+ '/edit'" class="float-right pointer btn btn-icon">
                        <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                    </a>
                    <form method="post" th:action="'/articles/' + ${article.id}">
                        <input name="_method" type="hidden" value="DELETE"/>
                        <button class="btn btn-icon float-right pointer" id="delete-button" type="submit">
                            <i class="ti-trash text-dark font-size-16 pdd-horizon-5"></i>
                        </button>
                    </form>

                    <input type="hidden" id="content" th:value="${article.contents}">
                    <div id="viewerSection"></div>
                </div>


                <!-- 댓글 -->
                <div class="col-lg-10 col-md-10 col-sm-10 mx-auto mrg-top-30" id="comment-list">
                    <div class="width-100 border bottom mrg-btm-20 pdd-btm-10">
                        <span class="font-size-16">댓글</span>
                        <span class="font-size-16 text-info" id="comments-size"></span>
                    </div>

                    <div class="comment">
                        <ul class="list-unstyled list-info" id="comment-section">

                        </ul>
                    </div>

                    <div class="add-comment">
                        <input id="comment-post-contents" name="contents" type="hidden"/>
                        <input type="hidden" id="articleId" name="articleId" th:value="${article.id}">
                        <div id="editSection"></div>
                        <button id="comment-post-button" type="submit" class="btn btn-default">
                            <i class="ti-save"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/comment.js"></script>
    <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
    <script>
        window.onload = printComments;

        const initValue = document.getElementById("content").value;

        const viewer = tui.Editor.factory({
            el: document.querySelector('#viewerSection'),
            viewer: true,
            height: '100%',
            initialValue: initValue
        })

        const editor = new tui.Editor({
            el: document.querySelector('#editSection'),
            initialEditType: 'markdown',
            previewStyle: 'horizontal',
            events: {
                change: function () {
                    document.getElementById('comment-post-contents').setAttribute('value', editor.getMarkdown())
                }
            },
            height: '200px'
        });

    </script>
</th:block>
</html>
