<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/header"></th:block>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
    <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css" rel="stylesheet">
    <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" rel="stylesheet">
    <link href="/css/article-edit.css" rel="stylesheet">
</head>
<body>
<div>
    <div class="header navbar bg-transparent no-border">
        <div class="header-container">
            <th:block th:replace="common/logo"></th:block>
            <th:block th:replace="common/user-profile"></th:block>
        </div>
    </div>

    <form accept-charset="utf-8" name="article" th:action="@{/articles/{id}(id = ${article} ? ${article.id} : '')}"
          th:method="${article} ? PUT : POST" th:object="${article}">
        <div class="about-cover card no-border">
            <div class="cover-img overlay-dark bg" style="background-image: url('/images/pages/index/study.jpg')">
                <div class="height-300px vertical-center pdd-horizon-50">
                    <div class="width-80">
                        <input autocomplete="off"
                               class="text-center bg-transparent no-border font-size-30 width-60 mx-auto d-block text-white border bottom"
                               name="title" placeholder="제목을 입력해주세요" th:if="${article}" th:value="${article.title}"
                               type="text">
                        <input autocomplete="off"
                               class="text-center bg-transparent no-border font-size-30 width-60 mx-auto d-block text-white border bottom"
                               name="title" placeholder="제목을 입력해주세요" th:unless="${article}" type="text">
                        <input autocomplete="off"
                               class="text-center bg-transparent no-border font-size-16 width-30 mx-auto d-block text-light text-white border bottom pdd-top-20"
                               name="coverUrl" placeholder="배경 url을 입력해주세요" th:if="${article}"
                               th:value="${article.coverUrl}" type="text">
                        <input autocomplete="off"
                               class="text-center bg-transparent no-border font-size-16 width-30 mx-auto d-block text-light text-white border bottom pdd-top-20"
                               name="coverUrl" placeholder="배경 url을 입력해주세요" th:unless="${article}" type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid max-width-lg mx-auto mrg-btm-30">
            <div class="row">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10">
                    <input id="article-contents" name="contents" th:value="${article == null ? '' : article.contents}"
                           type="hidden">
                    <div id="editSection"></div>
                </div>
                <div class="col-lg-1 col-md-1">
                    <div class="btn-group btn-group-vertical">
                        <button class="btn btn-default" id="save-btn" type="submit">
                            <i class="ti-save"></i>
                        </button>
                        <a class="btn btn-default" href="/" th:if="${article}" th:onclick="sendDelete()">
                            <i class="ti-close"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<th:block th:replace="common/js"></th:block>
<script crossorigin="anonymous" integrity="sha256-7dF+yqM5APBwOEeHoAf0FtdD9tsSoDul+jRXwySCJ1A="
        src="https://cdnjs.cloudflare.com/ajax/libs/tui-editor/1.4.3/tui-editor-Editor-full.min.js"></script>
<script type="text/javascript">
    const contents = document.getElementById("article-contents").value;

    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        events: {
            change: function () {
                document.getElementById('article-contents').setAttribute('value', editor.getMarkdown())
            }
        },
        height: 'calc(100vh - 360px)',
        initialValue: contents
    });

    function sendDelete() {
        document.querySelector("input[name='_method']").value = "DELETE";
        document.querySelector("form[name='article']").submit();
    };

</script>
</body>
</html>
