<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>우아한테크코스 기술블로그</title>
    <th:block th:include="common/meta"></th:block>
    <th:block th:include="common/css"></th:block>
    <link href="/css/article.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
    <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css" rel="stylesheet">
    <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" rel="stylesheet">
</head>
<body>
<div>
    <th:block th:include="/common/navbar"></th:block>
    <th:block th:include="/common/article_cover"></th:block>
    <div class="container-fluid max-width-lg mx-auto mrg-vertical-30 padding-30">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <a th:if="${session.user} != null AND ${article.author.email} == ${session.user.email}"
                   th:href="@{/articles/{articleId}/edit(articleId=${article.id})}"
                   class="float-right pointer btn btn-icon">
                    <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                </a>

                <form th:if="${session.user} != null AND ${article.author.email} == ${session.user.email}"
                      th:action="${#strings.concat('/articles/', article.id)}"
                      accept-charset="utf-8" method="post" name="article">
                    <input name="_method" type="hidden" value="DELETE">
                    <button class="btn btn-default" id="delete-btn" type="submit">
                        <i class="ti-trash text-dark font-size-16 pdd-horizontal-5"></i>
                    </button>
                </form>

                <div id="viewerSection"></div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
                <div class="profile-container row mrg-top-30 mrg-btm-30">
                    <div class="col-md-2 col-sm-4">
                        <img class="width-80px border-radius-round"
                             src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1514627_858869820895635_1119508450771753991_n.jpg?_nc_cat=110&_nc_ht=scontent-icn1-1.xx&oh=a32aa56b750b212aee221da7e9711bb1&oe=5D8781A4">
                    </div>
                    <div class="col-md-10 col-sm-7">
                        <span class="font-size-16 text-bold pdd-btm-5" th:text="${article.author.name}"></span>
                        <span class="font-size-12 text-gray" th:text="${article.author.email}"></span>
                        <p class="font-size-13 text-dimgray lh-1-3">
                            백엔드 개발자: 설계.테스트.생산성.클린코드.멘토링에 관심이 많음 <br>
                            Woowahantechcourse Organizer / Coach/ Husband
                        </p>
                        <th:block th:include="/common/user_icon"></th:block>
                    </div>
                </div>
            </div>
            <th:block th:include="/common/article_comment"></th:block>
        </div>
    </div>
</div>

<th:block th:include="common/js"></th:block>
<script th:inline="javascript">
    window.onload = function () {
        const size = document.getElementsByName('edit-contents').length;

        for (let i = 0; i < size; i++) {
            document.getElementsByName('edit-contents')[i].style.display = 'none';
        }
    }

    const initValue = [[${article.contents}]];

    const viewer = tui.Editor.factory({
        el: document.querySelector('#viewerSection'),
        viewer: true,
        height: '100%',
        initialValue: initValue
    });

    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'horizontal',
        events: {
            change: function () {
                document.getElementById('comment-contents').setAttribute('value', editor.getMarkdown())
            }
        },
        height: '200px'
    });

    function editComment(commentId) {
        document.getElementById('comment-div-' + commentId).style.display = 'none';
        document.getElementById('edit-a-' + commentId).style.display = 'none';
        document.getElementById('delete-a-' + commentId).style.display = 'none';

        document.getElementById('edit-section-' + commentId).style.display = 'block';
        document.getElementById('update-a-' + commentId).style.display = 'block';
        document.getElementById('cancel-a-' + commentId).style.display = 'block';
    }

    function cancelComment(commentId) {
        document.getElementById('comment-div-' + commentId).style.display = 'block';
        document.getElementById('edit-a-' + commentId).style.display = 'block';
        document.getElementById('delete-a-' + commentId).style.display = 'block';

        document.getElementById('edit-section-' + commentId).style.display = 'none';
        document.getElementById('update-a-' + commentId).style.display = 'none';
        document.getElementById('cancel-a-' + commentId).style.display = 'none';
    }

    function deleteComment(articleId, commentId) {
        const deleteForm = document.createElement('form');
        deleteForm.setAttribute("method", "Post");
        deleteForm.setAttribute("action", "/article/" + articleId + "/comment/" + commentId);

        const hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "_method");
        hiddenField.setAttribute("value", "delete");
        deleteForm.appendChild(hiddenField);

        document.body.appendChild(deleteForm);
        deleteForm.submit();
    }

    function getCommentTemplate(comment) {
        const articleId = [[${article.id}]];
        return '<li class="comment-item border bottom mrg-btm-30">' +
                    '<input type="hidden" value="' + comment.id + '">' +
                    '<img alt="" class="thumb-img img-circle" src="https://avatars3.githubusercontent.com/u/50367798?v=4">' +
                    '<div class="info">' +
                        '<span class="text-bold inline-block" href="">' + comment.commenter.name + '</span>' +
                        '<span class="sub-title inline-block pull-right">' +
                            '<a id="edit-a-' + comment.id + '" onclick="editComment(' + comment.id + ')">수정</a>' +
                            '<a id="delete-a-' + comment.id + '" onclick="deleteComment(' + articleId + ',' + comment.id + ')">삭제</a>' +
                            '<a id="update-a-' + comment.id + '" style="display: none">저장</a>' +
                            '<a id="cancel-a-' + comment.id + '" onclick="cancelComment(' + comment.id + ')" style="display: none">취소</a>' +
                            '<span>' + comment.date + '</span>' +
                        '</span>' +
                        '<p id="comment-div-' + comment.id + '" class="width-80">' + comment.contents + '</p>' +
                        '<textarea class="edit" id="edit-section-' + comment.id + '" name="edit-contents" style="display: none">' + comment.contents + '</textarea>' +
                    '</div>' +
                '</li>';
    }

    document.getElementById('save-btn').addEventListener('click', function () {
        const commentList = document.getElementById('comment-list');
        const contents = document.getElementById('comment-contents').value;
        const commentData = {contents: contents};

        fetch("/article/" + [[${article.id}]] + "/comment", {
            method: "POST",
            headers: {'Content-Type': 'application/json; charset=utf-8'},
            body: JSON.stringify(commentData)
        }).then(response => response.json())
            .then(json => {
                console.log(json);
                commentList.insertAdjacentHTML('beforeend', getCommentTemplate(json));
                editor.setMarkdown('');
                document.getElementById('comment-contents').value = '';
            });
    });

    document.getElementById('comment-list').addEventListener('click',
        function (event) {
            const commentId = event.target.parentNode.parentNode.parentNode.querySelector("input").value;
            const updateContents = document.getElementById('edit-section-' + commentId).value;
            const updateCommentData = {contents: updateContents};

            if (event.target.innerText === "저장") {
                fetch("/article/" + [[${article.id}]] + "/comment/" + commentId, {
                    method: "PUT",
                    headers: {'Content-Type': 'application/json; charset=utf-8'},
                    body: JSON.stringify(updateCommentData)
                }).then(response => response.json())
                    .then(json => {
                        console.log(json);
                        cancelComment(commentId);
                        document.getElementById('comment-div-'+commentId).innerText = json.contents;
                        document.getElementById('edit-section-'+commentId).value = json.contents;
                    });
            }
        });

</script>
</body>
</html>
