<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layouts/layout">

<th:block layout:fragment="content">
    <div>
        <form name="article" method="post" accept-charset="utf-8"
              th:action="${article} == null ? '/articles' : '/articles/' + ${article.id}">
            <input name="_method" th:value="${article} == null ? 'POST' : 'PUT'" type="hidden"/>
            <div class="about-cover card no-border">
                <div class="cover-img overlay-dark bg" style="background-image: url('/images/pages/index/study.jpg')">
                    <div class="height-300px vertical-center pdd-horizon-50">
                        <div class="width-80">

                            <input type="text" name="title"
                                   class="text-center bg-transparent no-border font-size-30 width-60 mx-auto d-block text-white border bottom"
                                   placeholder="제목을 입력해주세요" autocomplete="off"
                                   th:value="${article} != null ? ${article.title} : ''">
                            <input type="text" name="coverUrl"
                                   class="text-center bg-transparent no-border font-size-16 width-30 mx-auto d-block text-light text-white border bottom pdd-top-20"
                                   placeholder="배경 url을 입력해주세요" autocomplete="off"
                                   th:value="${article} != null ? ${article.coverUrl} : ''">
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid max-width-lg mx-auto mrg-btm-30">
                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="col-lg-10 col-md-10 col-sm-10">
                        <input id="article-contents" name="contents" type="hidden"
                               th:value="${article} != null ? ${article.contents} : ''">
                        <div id="viewerSection"></div>
                        <div id="editSection"></div>
                    </div>
                    <div class="col-lg-1 col-md-1">
                        <div class="btn-group btn-group-vertical">
                            <button id="save-btn" type="submit" class="btn btn-default">
                                <i class="ti-save"></i>
                            </button>
                            <a href="/" class="btn btn-default">
                                <i class="ti-close"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
    <script type="text/javascript">
        const initValue = document.getElementById("article-contents").value;

        const editor = new tui.Editor({
            el: document.querySelector('#editSection'),
            initialValue: initValue,
            initialEditType: 'markdown',
            previewStyle: 'vertical',
            events: {
                change: function () {
                    document.getElementById('article-contents').setAttribute('value', editor.getMarkdown())
                }
            },
            height: 'calc(100vh - 360px)'
        });
    </script>
</th:block>
</html>
