<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="fragment/common_head"></th:block>
    <link href="/css/article.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.33.0/codemirror.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css" rel="stylesheet">
    <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor.css" rel="stylesheet">
    <link href="https://uicdn.toast.com/tui-editor/latest/tui-editor-contents.css" rel="stylesheet">
</head>

<body>
<div>
    <header th:replace="fragment/common_navbar :: navbar">
    </header>

    <div class="about-cover card no-border ">
        <div class="cover-img overlay-dark bg" th:style="'background:url(' + ${background} + ');'">
            <div class="padding-30">
                <h1 class="text-center cover-title" th:text="${title}"></h1>
            </div>
        </div>
    </div>

    <div class="container-fluid max-width-lg mx-auto mrg-vertical-30 padding-30">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <a class="float-right pointer btn btn-icon" href="article-edit.html">
                    <i class="ti-pencil text-dark font-size-16 pdd-horizontal-5"></i>
                </a>
                <div id="viewerSection">
                    <p th:text="${contents}"></p>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto">
                <div class="profile-container row mrg-top-30 mrg-btm-30">
                    <div class="col-md-2 col-sm-4">
                        <img class="width-80px border-radius-round"
                             src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/1514627_858869820895635_1119508450771753991_n.jpg?_nc_cat=110&_nc_ht=scontent-icn1-1.xx&oh=a32aa56b750b212aee221da7e9711bb1&oe=5D8781A4">
                    </div>
                    <th:block th:include="fragment/common_brown"></th:block>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 mx-auto mrg-top-30">
                <div class="width-100 border bottom mrg-btm-20 pdd-btm-10">
                    <span class="font-size-16">댓글</span>
                    <span class="font-size-16 text-info">2</span>
                </div>
                <div class="comment">
                    <ul class="list-unstyled list-info">
                        <li class="comment-item border bottom mrg-btm-30">
                            <img alt="" class="thumb-img img-circle"
                                 src="https://avatars3.githubusercontent.com/u/50367798?v=4">
                            <div class="info">
                                <span class="text-bold inline-block" href="">Jun</span>
                                <span class="sub-title inline-block pull-right">
                                        <i class="ti-timer pdd-right-5"></i>
                                        <span>6 min ago</span>
                                    </span>
                                <p class="width-80">3주라는 짧은 기간에 효과적으로 연습하도록 하기 위해 의식적인 연습을 기반으로 미션을 진행하도록 설계했다. 교육자로
                                    살다 보니 효과적인 학습 방법에 대한 관심이 높아졌다. 효과적인 학습 방법을 찾던 중 “1만 시간의 재발견”이라는 책을 통해 의식적인 연습의
                                    중요성을 느낄 수 있는 계기가 되었다.</p>
                            </div>
                        </li>
                        <th:block th:include="fragment/common_jun"></th:block>
                    </ul>
                    <div class="add-comment">
                        <div id="editSection"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="fragment/common_footer"></th:block>
<th:block th:include="fragment/common_js"></th:block>
<script src="https://uicdn.toast.com/tui-editor/latest/tui-editor-Editor-full.js"></script>
</body>

</html>