<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="fragments/main/main_head :: mainHead"></head>
    <link rel="stylesheet" href="/css/article-edit.css">
    <link rel="stylesheet" href="/css/article.css">
</head>
<body>
<div>
    <div th:replace="fragments/main/header :: header"></div>
    <form th:action="${'/comment/' + comment.id}" th:method="put">
        <div class="add-comment">
            <input id="comment-contents" name="contents" type="hidden">
<!--            <input name="id" th:value="${comment.id}" type="hidden">-->
            <input name="articleId" th:value="${comment.article.id}" type="hidden">
            <div id="editSection"></div>
        </div>
        <button id="comment-btn" type="submit" class="float-right pointer btn btn-icon">
            수정
        </button>
    </form>
</div>

<div th:include="fragments/main/js :: js"></div>
<script src="/js/index.js"></script>
<script th:inline="javascript">
    var initValue = "";

    const editor = new tui.Editor({
        el: document.querySelector('#editSection'),
        initialEditType: 'markdown',
        previewStyle: 'vertical',
        events: {
            change: function () {
                document.getElementById('comment-contents').setAttribute('value', editor.getMarkdown())
            }
        },
        height: 'calc(100vh - 360px)',
        initialValue: initValue
    });

    if([[${comment}]]) {
        editor.setValue([[${comment?.contents}]]);
    }
</script>
</body>
</html>
