<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <title>우아한 크루의 블로그</title>
</head>
<body>
<div class="app">
    <th:block th:replace="fragments/logo :: logoFragment"/>
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg"
                 style="background-image: url('/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="mx-auto full-height col-md-4">
                                <div class="vertical-align full-height">
                                    <div class="table-cell padding-20">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <form method="post" th:action="'/comments/' + ${comment?.id}">
                                                        <input name="_method" type="hidden" value="put"/>
                                                        <input name="articleId" th:value="${comment?.author.id}"
                                                               type="hidden">
                                                        <div class="mrg-btm-30">
                                                            <textarea class="text-center no-mrg-vertical mrg-btm-15 text-dark" name="contents"
                                                                      th:text="${comment?.contents}">
                                                                여기에 댓글이 나와요</textarea>
                                                        </div>
                                                        <div class="mrg-top-20 text-right">
                                                            <button class="btn btn-tumblr" type="submit">수정하기</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/script :: scriptFragment"/>
</body>
</html>
