<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>우아한 크루의 블로그</title>
    <th:block th:replace="fragments/config :: configFragment"/>
</head>
<body>
<div class="app">
    <th:block th:replace="fragments/header :: headerFragment"/>
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg"
                 style="background-image: url('/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 col-sm-12 mx-auto">
                        <div class="row">
                            <div class="mx-auto full-height col-md-4">
                                <div class="vertical-align full-height">
                                    <div class="table-cell padding-20">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h4 class="text-center no-mrg-vertical mrg-btm-15 text-dark"
                                                            th:text="${error}">
                                                            Wrong access</h4>
                                                    </div>
                                                    <form action="/" method="get">
                                                        <div class="mrg-top-20 text-right">
                                                            <button class="btn btn-tumblr" type="submit">홈으로</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="fragments/script :: scriptFragment"/>
</body>
</html>