<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="common/header"></th:block>
</head>
<body>
<div>
    <header class="header navbar bg-transparent no-border" id="header">
        <div class="header-container">
            <th:block th:replace="common/logo"></th:block>
            <th:block th:replace="common/user-profile"></th:block>
        </div>
    </header>

    <div class="about-cover card no-border mrg-btm-0">
        <div class="cover-img overlay-dark bg" style="background-image: url('/images/pages/index/bg.jpg')"></div>
        <div class="welcome-text-container">
            <div class="welcome-txt">
                <h1 class="text-white border bottom font-size-35 padding-5" th:if="${blogName.name}"
                    th:text="${blogName.name}"></h1>
                <h1 class="text-white border bottom font-size-35 padding-5" th:unless="${blogName.name}">Welcome!</h1>
            </div>
        </div>
    </div>

    <div class="container-fluid width-100 mrg-btm-30">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="tab-info center-tabs">
                    <ul class="nav nav-tabs no-border" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab-centered-1" role="tab">All</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-centered-2" role="tab">Java</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-centered-3" role="tab">Learning</a>
                        </li>
                    </ul>
                    <div class="width-100 absolute left-0 border bottom"></div>
                    <!--                    <div class="tab-content" th:each="article, index: ${articles}" th:if="${articles.size() > 0}">-->
                    <div class="tab-content" th:each="i : ${#numbers.sequence(articles.size() - 1, 0, -1)}"
                         th:if="${articles.size() > 0}" th:with="article = ${articles[i]}">
                        <div class="tab-pane fade in active" id="tab-centered-1" role="tabpanel">
                            <div class="pdd-horizon-15 pdd-vertical-20">
                                <a class="card article-container" href="article.html"
                                   th:href="@{/articles/{id}(id = ${article.id})}">
                                    <div class="card-horizon">
                                        <div class="image-container col-md-4">
                                            <div class="background-holder has-content"
                                                 th:style="|background-image: url('${article.coverUrl?: '/images/pages/index/study.jpg'}')|"></div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-8 ml-auto">
                                                    <div class="pdd-vertical-30 pdd-horizon-25">
                                                        <h2 class="mrg-btm-20 text-bold"
                                                            th:text="${article.getTitle()}">제목</h2>
                                                        <p th:text="${article.getContents()}">내용</p>
                                                        <ul class="list-style-none pdd-left-0">
                                                            <li class="inline-block mrg-right-5">
                                                                <i class="ti-heart text-danger pdd-right-5"></i>
                                                                <span class="text-gray font-size-14 relative">33</span>
                                                            </li>
                                                            <li class="inline-block">
                                                                <i class="ti-comments text-primary pdd-right-5"></i>
                                                                <span class="text-gray font-size-14 relative">3</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-centered-2" role="tabpanel">
                            <div class="pdd-horizon-15 pdd-vertical-20">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-centered-3" role="tabpanel">
                            <div class="pdd-horizon-15 pdd-vertical-20"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <a class="btn btn-primary btn-rounded btn-icon fixed lh-2-4 right-50 bottom-50 width-50px height-50px"
           href="/writing">
            <i class="ti-plus"></i>
        </a>

    </div>
</div>

<footer class="content-footer">
    <div class="footer">
        <div class="copyright">
            <img class="d-inline-block logo relative right-5" src="/images/logo/logo_full_dark.png">
            <p class="pdd-left-5 mrg-top-minus-15px">Copyright © <b class="text-dark">우아한테크코스</b>. All rights reserved.
            </p>
        </div>
        <a class="btn btn-default btn-rounded bg-transparent" href="https://woowabros.github.io/" target="_blank">우아한형제들
            기술블로그</a>
    </div>
</footer>

<th:block th:replace="common/js"></th:block>
<!-- TODO: https://elfinlas.github.io/2018/02/16/thymeleaf-layout-dialect_exam/ -->
<!-- TODO: https://blog.hanumoka.net/2018/08/07/spring-20180807-spring-thymeleaf-layout-dialect2-head/ -->
<!-- TODO: https://blog.outsider.ne.kr/1004 -->
</body>
</html>
