<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="commonHead"></th:block>
    <link href="/css/index.css" rel="stylesheet">
    <link href="/css/mypage.css" rel="stylesheet">
</head>
<body>
<div>
    <header class="header navbar bg-transparent no-border" id="header">
        <div class="header-container">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="index.html">
                        <div class="logo logo-dark d-none"
                             style="background-image: url('../static/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('../static/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
            <ul class="nav-right">
                <li class="user-profile dropdown no-border pointer" id="header-user-dropdown-btn">
                    <a class="user-info-link user-dropdown-menu dropdown-toggle" data-toggle="dropdown">
                        <img alt="Brown"
                             class="profile-img img-fluid" src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4">
                        <div class="user-info text-white">
                            <span class="name pdd-right-5">Brown</span>
                            <i class="ti-angle-down font-size-10"></i>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="text-dark">
                            <a href="/mypage.html">
                                <i class="ti-user pdd-right-10"></i>
                                <span class="text-dark">마이 페이지</span>
                            </a>
                        </li>
                        <li class="divider" role="separator"></li>
                        <li class="text-dark">
                            <a href="/index.html">
                                <i class="ti-power-off pdd-right-10"></i>
                                <span class="text-dark">로그아웃</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </header>

    <div class="about-cover card no-border">
        <div class="cover-img overlay-dark bg" style="background-image: url('../static/images/pages/index/bg.jpg')">
            <div class="display-block height-100">

            </div>
        </div>
    </div>

    <div class="container-fluid max-width-lg mx-auto mrg-btm-30 padding-30">
        <div class="row">
            <div class="col-md-7 mx-auto">
                <div class="card">
                    <div class="card-heading pdd-btm-5 border bottom">
                        <h4 class="card-title d-inline-block">profile</h4>
                        <button class="btn btn-info float-right mrg-btm-0 relative bottom-5" type="submit">수정</button>
                    </div>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>Name</b></p>
                            </div>
                            <div class="col-md-6">
                                <input class="form-control" type="text" value="Brown">
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>Email</b></p>
                            </div>
                            <div class="col-md-6">
                                <p class="mrg-top-10">gracefulBrown@woowahan.com</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>Avatar</b></p>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <label class="pointer" for="img-upload">
                                        <img alt=""
                                             src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4" width="117">
                                        <span class="btn btn-default display-block no-mrg-btm">Choose file</span>
                                        <input class="d-none" id="img-upload" multiple name="uploadedimages0"
                                               type="file">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <p class="mrg-top-10 text-dark"><b>SNS</b></p>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <span class="btn-dark border-radius-4 inline-block">
                                            <span class="pdd-horizon-10 lh-2-5 display-block">
                                                <i class="fa fa-github"></i>
                                            </span>
                                        </span>
                                        <span class="font-size-14 mrg-left-10 text-dark text-bold">Github</span>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <input class="form-control" type="text" value="https://www.github.com/profile">
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                    <span class="btn-facebook border-radius-4 inline-block">
                                        <span class="pdd-horizon-10 lh-2-5 display-block">
                                            <i class="ti-facebook"></i>
                                        </span>
                                    </span>
                                        <span class="mrg-left-10 font-size-14 text-dark text-bold">Facebook</span>
                                    </div>
                                    <div class="col-md-8 text-right">
                                        <input class="form-control" type="text"
                                               value="https://www.facebook.com/profile">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="commonScript"></th:block>
</body>
</html>
