<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="ko">
<head>
    <th:block th:include="includes/meta :: common_meta"></th:block>
    <th:block th:include="includes/css :: common_css"></th:block>
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
<div class="app">
    <div class="header navbar bg-transparent no-border">
        <div class="header-container pdd-right-15">
            <ul class="nav-left mrg-left-0">
                <li>
                    <a href="/">
                        <div class="logo logo-dark d-none"
                             style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                        <div class="logo logo-white"
                             style="background-image: url('/images/logo/logo_full_white.png')"></div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg"
                 style="background-image: url('/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="row">
                            <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <div class="card min-width-480px">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h2 class="text-center text-dark no-mrg-vertical mrg-btm-15">
                                                            회원가입</h2>
                                                    </div>
                                                    <form action="/users" method="post" th:object="${userDto}">
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Username</label>
                                                            <input id="name" type="text" name="name" class="form-control" required th:field="*{name}"/>
                                                            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color:red"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Email Address</label>
                                                            <input id="email" type="email" name="email" class="form-control" required th:field="*{email}">
                                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color:red"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Password</label>
                                                            <input id="password" type="password" name="password" class="form-control" required th:field="*{password}"
                                                                   placeholder="Password" onchange="passwordOnChangeHandler()">
                                                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color:red"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Confirm
                                                                Password</label>
                                                            <input id="input-pwcheck" type="password" class="form-control" required
                                                                   placeholder="Password" onchange="passwordOnChangeHandler()">
                                                            <span id="password-check-error-message" style="color:red"></span>
                                                        </div>
                                                        <div style="padding-bottom: 20px;" th:if="${error}">
                                                            <span th:text = "${error}" style="color:red"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <button onclick ="return isSamePasswordAndCheckPassword()" type="submit"
                                                                    class="btn btn-info btn-block border-radius-6 font-size-16 text-white">
                                                                가입하기
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <div class="text-dark">
                                                        <span>이미 회원이신가요?</span>
                                                        <a href="/login"
                                                           class="text-info pointer mrg-left-5">로그인</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="includes/js :: common_js"></th:block>
<script>

    const isSamePasswordAndCheckPassword = () => document.getElementById('password').value === document.getElementById('input-pwcheck').value

    const passwordOnChangeHandler = () => {
        document.getElementById('password-check-error-message').innerText = isSamePasswordAndCheckPassword() ? '' : '비밀번호를 확인해주세요'
    }
</script>
</body>

</html>
