<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments/config :: configFragment"/>
    <title>우아한 크루의 블로그</title>
</head>
<body>
<div class="app">
    <th:block th:replace="fragments/logo :: logoFragment"/>

    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon overlay-dark bg"
                 style="background-image: url('/images/default/bg.jpg')">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="row">
                            <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <div class="card min-width-480px">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <h2 class="text-center text-dark no-mrg-vertical mrg-btm-15">
                                                            회원가입</h2>
                                                        <span style="color:red" th:if="${error != null}"
                                                              th:text="${error}">errorMessage</span>
                                                        <span id="error" style="color:red"
                                                              th:unless="${error != null}"></span>
                                                    </div>
                                                    <form action="/users" method="post" name="userForm">
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Username</label>
                                                            <input class="form-control" id="userName"
                                                                   name="userName"
                                                                   type="text">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Email Address</label>
                                                            <input class="form-control" id="email"
                                                                   name="email"
                                                                   type="email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Password</label>
                                                            <input class="form-control" id="password"
                                                                   name="password"
                                                                   onkeyup="checkPassword()"
                                                                   placeholder="Password"
                                                                   type="password">
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="text-normal text-dark">Confirm
                                                                Password</label>
                                                            <input class="form-control" id="confirmPassword"
                                                                   name="confirmPassword"
                                                                   onkeyup="checkPassword()"
                                                                   placeholder="Password"
                                                                   type="password">
                                                            <span id="message"></span>
                                                        </div>
                                                        <div class="form-group">
                                                            <button class="btn btn-info btn-block border-radius-6 font-size-16 text-white"
                                                                    onclick="checkUserForm()"
                                                                    type="button">
                                                                가입하기
                                                            </button>
                                                        </div>
                                                    </form>
                                                    <div class="text-dark">
                                                        <span>이미 회원이신가요?</span>
                                                        <a class="text-info pointer mrg-left-5" href="/login">로그인</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="fragments/script :: scriptFragment"/>
<script>
    var checkUserForm = function () {
        var password = document.getElementById("password");
        var confirmPassword = document.getElementById("confirmPassword");
        if (confirmPassword.value !== password.value) {
            document.getElementById("error").innerHTML = "페스워드랑 확인 패스워드가 서로 불일치 합니다.";
            document.querySelector('input[name="password"]').value = "";
            document.querySelector('input[name="confirmPassword"]').value = "";
            return false;
        } else {
            document.querySelector('form[name="userForm"]').submit();
            return true;
        }
    };
    var checkPassword = function () {
        if (document.userForm.password.value === document.userForm.confirmPassword.value) {
            document.getElementById('message').style.color = 'green';
            document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('message').style.color = 'red';
            document.getElementById('message').innerHTML = 'not matching';
        }
    };
</script>

</body>
</html>
