<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}" lang="ko">
<th:block layout:fragment="content">
    <div class="app">
        <div class="header navbar bg-transparent no-border">
            <div class="header-container pdd-right-15">
                <ul class="nav-left mrg-left-0">
                    <li>
                        <a href="index.html">
                            <div class="logo logo-dark d-none" style="background-image: url('/images/logo/logo_full_dark.png')"></div>
                            <div class="logo logo-white" style="background-image: url('/images/logo/logo_full_white.png')"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="authentication">
            <div class="sign-in-2">
                <div class="container-fluid no-pdd-horizon overlay-dark bg" style="background-image: url('/images/default/bg.jpg')">
                    <div class="row">
                        <div class="col-md-10 mr-auto ml-auto">
                            <div class="row">
                                <div class="mr-auto ml-auto full-height height-100 d-flex align-items-center">
                                    <div class="vertical-align full-height">
                                        <div class="table-cell">
                                            <div class="card min-width-480px">
                                                <div class="card-body">
                                                    <div class="pdd-horizon-30 pdd-vertical-30">
                                                        <div class="mrg-btm-30">
                                                            <h2 class="text-center text-dark no-mrg-vertical mrg-btm-15">회원가입</h2>
                                                        </div>
                                                        <form id="form" action="/users" method="post">
                                                            <div class="form-group">
                                                                <label class="text-normal text-dark">이름</label>
                                                                <input type="text" name="name" class="form-control" required minlength="2" maxlength="10" pattern="[a-zA-Z가-힣]+">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="text-normal text-dark">이메일 주소</label>
                                                                <input type="email" name="email" class="form-control" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="text-normal text-dark">비밀번호</label>
                                                                <input id="password" type="password" name="password" class="form-control" minlength="8" required pattern="[a-zA-Z0-9~!@#$%^&*]+">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="text-normal text-dark">비밀번호 확인</label>
                                                                <input id="password-confirm" type="password" class="form-control" minlength="8" required pattern="[a-zA-Z0-9~!@#$%^&*]+">
                                                            </div>
                                                            <div id="not-match"></div>
                                                            <div class="alert alert-danger" role="alert" th:if="${errorMessage} != null" th:text="${errorMessage}"></div>
                                                            <div class="form-group">
                                                                <button type="submit" class="btn btn-info btn-block border-radius-6 font-size-16 text-white">가입하기</button>
                                                            </div>
                                                        </form>
                                                        <div class="text-dark">
                                                            <span>이미 회원이신가요?</span>
                                                            <a href="/login" class="text-info pointer mrg-left-5">로그인</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
<th:block layout:fragment="custom-js">
    <script>
        const password = document.getElementById('password');
        const passwordConfirm = document.getElementById('password-confirm');
        const signupForm = document.getElementById('form');
        signupForm.addEventListener('submit', e => {
            if (password.value !== passwordConfirm.value) {
                alert('비밀번호를 확인해주세요!');
                e.preventDefault();
                return false;
            }
        });
    </script>
</th:block>
</html>
