<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <th:block th:include="includes/meta :: common_meta"></th:block>
    <th:block th:include="includes/css :: common_css"></th:block>
    <th:block th:include="includes/article_js :: article_js"></th:block>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div>
    <th:block th:include="includes/header :: header"></th:block>

    <div class="about-cover card no-border">
        <div class="cover-img overlay-dark bg" style="background-image: url('/static/images/pages/index/bg.jpg')">
            <div class="display-block height-100">
            </div>
        </div>
    </div>

    <div class="container-fluid z-10 bottom-120 relative max-width-lg mx-auto mrg-btm-30 padding-30">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card">
                    <div class="card-heading border bottom">
                        <h4 class="card-title">User List</h4>
                    </div>
                    <div class="card-body">
                        <ul th:each="user: ${users}" class="list-unstyled list-info">
                            <li>
                                <div class="pdd-vertical-10">
                                    <img class="thumb-img img-circle" src="https://avatars3.githubusercontent.com/u/46308949?s=460&v=4" alt="">
                                    <div class="info">
                                        <a th:utext="${user.name}" href="/mypage" class="title no-pdd-vertical text-semibold inline-block lh-1"></a>
                                        <span class="sub-title">
                                            <span th:utext="${user.email}"></span>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:include="includes/footer :: footer"></th:block>
<th:block th:include="includes/js :: common_js"></th:block>
</body>
</html>
